/* @import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap'); */
@import "tailwindcss";

/* * {
  font-family: "Tagesschrift";
} */

@layer base {

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #A1A8B0;
  }
}

@layer base {

  /* Target the root (html), the body, and every single element (*) */
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* For horizontal scrollbars */
  }

  ::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb,
  *::-px-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover,
  *::-webkit-scrollbar-thumb:hover {
    background: #A1A8B0;
  }

}

@layer utilities {
  .shadow-md-all {
    box-shadow:
      0 0 6px -1px rgb(0 0 0 / 0.25),
      0 0 4px -2px rgb(0 0 0 / 0.25);
  }
}